body{
  font-family: sans-serif;
}

.employment{
  font-size: 1.3em;
  color: red
}

.skills{
  font-size: 1.3em;
  color: blue;
}

.employer{
  list-style: none;
  font-weight: bold;
}

.year{
  font-style: italic;
  font-weight: bold;
  color: blue;
}
